/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialog {
  border-bottom: #00acff 2px solid;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 250px;
  min-width: 400px;
  transform: translateY(calc(50vh - 50%));
}

#left {
  flex-shrink: 0.5;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  position: relative;
}

#logoA, #logoB {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease;
}

#logoA {
  position: absolute;
  margin-bottom: -150px;
}

#logoCreatorA, #logoCreatorB {
  height: 10px;
  transition: opacity 0.5s ease;
}

#logoCreatorA {
  position: absolute;
  bottom: 0;
}

#right {
  width: 300px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#wordmark {
  color: #00acff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
}

#version {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

#versionNumber {
  font-weight: bold;
  user-select: text;
  -moz-user-focus: normal;
  cursor: text;
  margin-right: 4px;
}

#aboutText {
  margin-top: 4px;
}

.loader {
  width: 0.9em;
  height: 0.9em;
  border: 1.5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
